@charset "utf-8";
/* CSS Document */
body { margin:0; padding:0; background:url(../images/bg.jpg) #3483be 0 0 repeat-x; font:14px Arial, Helvetica, sans-serif; color:#fff; }
.content { width:700px; margin:auto;}
.contForm { width:620px; height:248px; padding:45px 40px;}
.lengInp { width:410px; height:18px;}
.lengMS { width:170px; height:18px;}